
@page "{id}"
@model BikeStore.Pages.BikePageModel
@{
}

@*To do:
    Add the data layer
    think about information to display on each bike page
    work on the design of this page*@


<section class="py-5 bg-image" style="background-image: url('/Images/BackGroundBikePage.png'); height: auto; width:auto; background-position: center; background-size: cover; ">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                @*example to convert byte array to images 
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" />*@
                <img class="card-img-top mb-5 mb-md-0" src="/images/@Model.bike.GetImageData()" alt="..." />
                @*if bike is of a kind display specific data about it*@
                <p class="lead ms-5">Description</p>
            </div>
            <div class="col-md-6 col-e">
                <h1 class="display-5 fw-bolder">@Model.bike.GetBrand()</h1>

                <div class="fs-5 mb-5">
                    <div class="small mb-1">@Model.bike.GetType()</div>
                    <span>@Model.bike.GetPrice() &euro;</span>
                </div>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>